<article class="bond-card paper-shadow">
  <header class="card-header">
    <div class="bond-type">{{ bond().type }}</div>
    <div class="bond-details">
      <h3>{{ bond().name }}</h3>
      <p class="description">{{ bond().description }}</p>
    </div>
    <div class="interest-badge">
      {{ bond().interestRate }}%
      <span class="sub">w skali roku</span>
    </div>
  </header>

  <div class="card-body">


    <div class="results-summary">
      <div class="result-item">
        <span class="label">Zysk Brutto:</span>
        <span class="value">{{ simulationResult()?.totalProfit | number: '1.2-2' }} PLN</span>
      </div>
      <div class="result-item">
        <span class="label">Podatek Belki:</span>
        <span class="value tax">-{{
          (simulationResult()?.totalProfit || 0) - (simulationResult()?.netProfit || 0)
          | number: '1.2-2'
          }}
          PLN</span>
      </div>
      <div class="result-item highlight">
        <span class="label">Zysk Netto:</span>
        <span class="value" [style.color]="profitColor">{{ simulationResult()?.netProfit | number: '1.2-2' }} PLN</span>
      </div>
    </div>

    @if (isBrowser) {
    <div class="chart-container">
      <canvas baseChart [data]="lineChartData()" [options]="lineChartOptions" [type]="lineChartType">
      </canvas>
    </div>
    }
  </div>
</article>