html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: #fcfbf9;
  /* Global background */
}

.app-container {
  display: flex;
  height: 100vh;
  overflow: hidden;
}

.content-area {
  flex: 1;
  overflow-y: auto;
  padding: 0;
}
